.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background: rgb(255, 146, 132); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgb(0,0,0), #d14d61, rgb(143, 118, 147)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgb(0,0,0), #d14d61, rgb(143, 118, 147)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(0,0,0), #d14d61, rgb(143, 118, 147)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, rgb(0,0,0), #d14d61, rgb(143, 118, 147)); /* Standard syntax */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
